// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
 .letter {
     background-color: #3498DB;
     color: white;
     font-weight: bolder;
     margin-right: 10px;
     width: 50px;
     height: 40px;
     text-align: center;
     font-size: 25px;
 }

 .container {
     display: flex;
 }